$background:#f1f1f1;
$primary-color: #333;

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=text],
input[type=password],
textarea {
    -webkit-appearance: none;
}

body {
  background: $background;
  color: $primary-color;
}

h1, h2, h3, h4{
  overflow: hidden;
}

textarea{
  min-height: 120px;
}

a,
.hover{
  cursor:pointer;
}

.overflow{
  overflow: hidden;
  display: block;
}

.white-space{
  white-space: pre-wrap;
}

.form-group-alt{
  margin-bottom: 0;
}

.lnk-block{
  display: block;
  padding: 5px 0;
}

.lnk-block:hover{
  text-decoration: none;
  opacity: 0.8;
}

.label-tag{
  margin-right: 5px;
}

.form-error{
  color:#a94442;
  font-weight: bold;
  font-size: 11px;
}

.table{
  background-color: #fff;
}

.cell-title{
  font-weight: bold;
  width:200px;
}